
<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onAddItem(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" name="ingredientName" placeholder="Milk" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input type="number" name="amount" placeholder="3" ngModel required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!f.valid">Add item</button>
  </form>
</ion-content>
